*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Akaya Kanadaka', cursive; */
    font-family: 'RocknRoll One', sans-serif;
}
.container{
    max-width: 80%;
    /* background-color: rgb(202, 150, 252); */
    padding: 34px;
    margin: auto;
}
.container h1 , p{
    text-align: center;
    /* font-family: 'Akaya Kanadaka', cursive; */
}
h1{
    font-size: 42px;
    font-family: 'RocknRoll One', sans-serif;
}
p{
    font-size: 20px;
    font-family: 'Akaya Kanadaka', cursive;
}
input , textarea{

    border: 2px solid black;
    border-radius: 15px;
    outline: none;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background-color: purple;
    padding: 10px 12px;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 16px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1.5px;
}
.submitMsg{
    font-size: 25px;
    color: green;
    background-color: ivory;
}